body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
  }
  
  /* Home page styles */
  .home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .deck-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 15px;
    flex-basis: calc(33.333% - 30px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Form styles */
  form {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"],
  input[type="submit"],
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: white;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  
  /* Study page styles */
  .study-container {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Not found page */
  .not-found {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
  }
  

/* Spacing for links and buttons in Deck.js */
.deck-options {
    display: flex;
    gap: 20px; 
  }
  
  .deck-options a,
  .deck-options button {
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .deck-options button {
    cursor: pointer;
  }
  

  /* Spacing for card options in Deck.js */
.card-options {
    display: flex;
    gap: 20px; /* Adjust this value to your liking */
  }
  
  .card-options a,
  .card-options button {
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .card-options button {
    cursor: pointer;
  }
  

  /* Styling for individual card container */
.card-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
